* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}
body{
    background-color:#353535;
}

a,li {
    text-decoration: none;
    list-style: none;
}

header{
    width: 100vw;
    height: 10vh;
    padding: 13px 7px;

}
@keyframes heade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.right {
    padding:13px 11px;
    float: right;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 1em;
    animation: heade 2s ;
}
h3 {
    font-size: .83em;
    color: #fff;
}

.icon{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: #663f99;
    color: #fff;
    padding: 7px 9px;
}
.menu-icon{
    width: 36px;
    height: 36px;
    border-radius: 50px;
    padding: 0 3px 0 0;
    transition: .3s;
}
.menu-icon img{
    border-radius: 50px;
    width: 72%;
    position: relative;
    top: 6px;
    left: 6px;
}
.menu-icon:hover{
    background-color:rgba(65, 70, 83, 0.973);
}

.main-container{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 2rem;
}
.main-img{
    width: 22%;
    padding: 5px;
    margin-top: -10px;
}
.main-img img{
    width: 96%;
}
.main-input{
    width: 42.5%;
    height: 9%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}
.input{
    width: 98%;
    border: 1px transparent;
    border-radius: 50px;
    outline: none;
    padding: 6px 20px;
    font-size: 16px;
}
.right-icon{
    width: 9%;
    position: relative;
    cursor: pointer;
    float: right;
}
.right-icon img{
    width: 45%;
}

.shortcut{
    width: 30%;
    display: flex;
    padding: 4px 0;
    margin: 0 0 0 100px;
}
.shortcut ul{
    width:100%;
    display: flex;
    align-items: center;
    gap: 6%;
}
.short{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sicon{
    width: 48px;
    height: 48px;
    background-color:  rgb(35, 36, 39);;
    border-radius: 50px;
    padding: 0 2px 0 0;
}
.sicon .imge{
    border-radius: 50px;
    width: 58%;
    position: relative;
    top: 10px;
    left: 11px;
}
.twit-icon{
    border-radius: 50px;
    width: 58%;
    position: relative;
    top: 14px;
    left: 11px;
}
h5{
    font-weight: lighter;
    color: #fff;
    padding: 13px 0;
}


footer{
    width: 100vw;
    height: 10vh;
    padding: 18px 18px 5px 0;
}
h2{
    background-color: rgb(43, 43, 43);
    color: rgb(185, 185, 185);
    font-weight: lighter;
    font-size: 13px;
    padding: 9px 12px;
    float: right;
    border-radius: 16px;
    box-shadow: 1px 1px 2px rgb(80, 79, 79);
}
@media(max-width:920px){
    .main-input{
        width: 46%;
    }
    .shortcut{
        margin: 0px 0 0 55px
    }
}
@media(max-width:785px){
    .main-input{
        width: 54%;
    }
    .shortcut{
        margin: 0px 0 0 40px
    }
}
@media(max-width:698px){
    .main-input{
        width: 62%;
    }
    .shortcut{
        margin: 0px 0 0 20px
    }
}
@media(max-width:631px){
    .main-input{
        width: 74%;
    }
    .shortcut{
        margin: 0 0 0 -46px;
    }
    .main-img{
        width: 33%;
    }
}
@media(max-width:562px){
    .main-input{
        width: 81%;
    }
    .shortcut{
        margin: 0 0 0 -56px;
    }
}
@media(max-width:492px){
    .main-input{
        width: 88%;
    }
    .shortcut{
        margin: 0 0 0 -95px;
    }
    .main-img{
        width: 55%;
    }
}
@media(max-width:370px){
    .shortcut{
        margin: 0 0 0 -102px;
    }
}
@media(max-width:340px){
    .shortcut{
        margin: 0 0 0 -117px;
    }
}
@media(max-width:330px){
    .shortcut{
        margin: 0 0 0 -142px;
    }
}